#SalesHeader {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    color: white;
    text-align: center;
    text-transform: uppercase;
    margin-top: -21px;
    margin-bottom: 0px;
    margin-right: -15px;
    margin-left: -15px;
    background-position: 0px;
    background-color: burlywood;
    background-size: 100px;}



#TitleBar {
    background-color: black;
    margin-top: -26px;
    margin-bottom: 0px;
    margin-right: -15px;
    margin-left: -15px
}

#NavProperties {
    color: white;
}

img {
    width: 70px;
    height: 70px;
    border-radius: 60%;
    margin-left: 1800px;;
}

#btn {
    width: 70px;
    height: 70px;
    border-radius: 60%;
    margin-left: 1800px;
}